<div class="col-sm-9 contenido">
	<% for tab in @tabs.visible %>
	        <h1 style="background-color: white ; color:#174E14; font-size: 25px;">
	        	<b><%= tab.name.upcase %></b>
	        </h1>
        <hr>
        <%= raw(tab.content) %>
	<%end%>
</div>