<div class="col-sm-9 contenido">
    <div class="panel-group" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                    <div class="panel-heading" role="tab" >
                      <h3 class="panel-title" style="color:<%=theme_color%>; font-size: 25px;"> 
                      <a ><b>Registration Form</b></a>
                      
                      </h3>
                    </div>
                    <div class="panel-body">

                        <b class="text-center" style="color:red; font-size: 13px;">*All fields are compulsory</b>
                        <form id="registrationForm" class="form-horizontal" action="/fire/register/submit" method="post">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Full name</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="name" placeholder="First Name Last Name"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Affiliation</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="affiliation" placeholder="Institute">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Country</label>
                            <div class="col-md-8">
                                <%= country_select("registration", "country", { selected: "IN" }, { class: 'form-control' }) %>                                
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-md-3 control-label">Email address</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="email" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Phone</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="phone" name="phone" placeholder="Mobile/Home">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Gender</label>
                            <div class="col-md-6">
                                <div class="radio">
                                    <label><input type="radio" name="gender" value="male" /> Male</label>
                                </div>
                                <div class="radio">
                                    <label><input type="radio" name="gender" value="female" /> Female</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Planning to attend:</label>
                            <div class="col-md-6">
                                <div class="radio">
                                    <label><input type="radio" name="attendance-choice" value="1" /> Main Conference</label>
                                </div>
                                <div class="radio">
                                    <label><input type="radio" name="attendance-choice" value="2" /> Tutorial</label>
                                </div>
                                <div class="radio">
                                    <label><input type="radio" name="attendance-choice" value="3" /> Both</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" style="display: none;" data-topic="tutorials-choice">
                            <label class="col-md-3 control-label">I plan to attend the following tutorials:</label>
                            <div class="col-md-6">
                                <div class="radio">
                                    <label><input type="radio" name="tutorials-choice" value="1" /> Author Profiling: age, gender, personality, native language identification </label>
                                </div>
                                <div class="radio">
                                    <label><input type="radio" name="tutorials-choice" value="2" /> Deep Learning</label>
                                </div>
                                <div class="radio">
                                    <label><input type="radio" name="tutorials-choice" value="3" /> Both</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" style="display: none;" data-topic="conference-date-choice">
                            <label class="col-md-3 control-label">I plan to attend the main conference on following dates:</label>
                            <div class="col-md-6">
                                <div class="checkbox">
                                    <label><input type="checkbox" name="conference-date-choice[6th]" value="true" /> 6th December </label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" name="conference-date-choice[7th]" value="true" /> 7th December </label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" name="conference-date-choice[8th]" value="true" /> 8th December</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" name="conference-date-choice[9th]" value="true" /> 9th December</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Food Preference</label>
                            <div class="col-md-6">
                                <div class="radio">
                                    <label><input type="radio" name="food" value="veg" /> Vegetarian</label>
                                </div>
                                <div class="radio">
                                    <label><input type="radio" name="food" value="nonveg" /> Non-Vegetarian</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Participation</label>
                            <div class="col-md-6">
                                <div class="radio">
                                    <label><input type="radio" name="participation" value=1 /> Presenting a paper</label>
                                </div>
                                <div class="radio">
                                    <label><input type="radio" name="participation" value=2 />Participating in a track</label>
                                </div>
                                <div class="radio">
                                    <label><input type="radio" name="participation" value=3 />
                                    Attending</label>
                                </div>
                                <div class="radio">
                                    <label><input type="radio" name="participation" value=4 />I am a speaker / I am from organizing committee</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Occupation</label>
                            <div class="col-md-6">
                                <div class="radio">
                                    <label><input type="radio" name="occupation" value="Student" /> Student</label>
                                </div>
                                <div class="radio">
                                    <label><input type="radio" name="occupation" value="Academia" />Academia</label>
                                </div>
                                <div class="radio">
                                    <label><input type="radio" name="occupation" value="Industry" />Industry</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Are you an ACM Member?</label>
                            <div class="col-md-6">
                                <div class="radio">
                                    <label><input type="radio" name="acm" value=false checked/> No</label>
                                </div>
                                <div class="radio">
                                    <label><input type="radio" name="acm" value=true>Yes</label>
                                </div>
                            </div>
                        </div>

<!--                         <div class="form-group" style="display: none;">
                            <label class="col-md-3 control-label">Want T-Shirt?</label>
                            <div class="col-md-6">
                                <div class="radio">
                                    <label><input type="radio" name="t-shirt" value=false /> No</label>
                                </div>
                                <div class="radio">
                                    <label><input type="radio" name="t-shirt" value=true checked="">Yes</label>
                                </div>
                            </div>
                        </div> -->

                        <div style="display: none;" data-topic="acm">
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">ACM Membership Number</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" name="acmnum" placeholder="ACM Membership Number">
                                    </div>
                                </div>
                            </fieldset>
                        </div>

                        <div class="form-group" >
                            <label class="col-md-3 control-label">Require Accomodation?</label>

                            <div class="col-md-6">
                                <div class="radio">
                                    <label><input type="radio" name="accomodation" value=true /> Yes</label>
                                </div>
                                <div class="radio">
                                    <label><input type="radio" name="accomodation" value=false checked="">No</label>
                                </div>
                            </div>
                        </div>                            

<!--                         <div data-topic="t-shirt-preference">
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-md-3 control-label"> T-Shirt Preference</label>
                                    <div class="col-md-8">

                                        <div class="radio">
                                            <label><input type="radio" name="t-shirt-preference" value="small">Small</label>
                                        </div>
                                        <div class="radio">
                                        <label><input type="radio" name="t-shirt-preference" value="medium">Medium</label>
                                        </div>
                                        <div class="radio">
                                        <label><input type="radio" name="t-shirt-preference" value="large">Large</label>
                                        </div>
                                        <div class="radio">
                                        <label><input type="radio" name="t-shirt-preference" value="XL">XL</label>
                                        </div>
                                        <div class="radio">
                                        <label><input type="radio" name="t-shirt-preference" value="XXL">XXL</label>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div> -->

                        <div class="form-group" data-topic="registration_type" >
                            <label class="col-md-3 control-label">Payment Option:</label>

                            <div class="col-md-6">
                                <div class="radio">
                                    <label><input type="radio" name="registration_type" value=NEFT checked=""/> I have already paid by NEFT Bank Tranfer. </label>
                                </div>
                                <div class="radio">
                                    <label><input type="radio" name="registration_type" value=ONSPOT >  I will pay On-Spot. </label>
                                </div>
                            </div>
                        </div>                            

                        <div style="" data-topic="transaction_id">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Transaction ID</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="transid" placeholder="Transaction ID for your ticket payment">
                            </div>
                        </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-8">
                                <button type="submit" class="btn btn-success">Register</button>
                            </div>
                        </div>
                    </form>

              </div>
        <hr/>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
    $('#registrationForm').bootstrapValidator({
        fields: {
            name: {
                validators: {
                    notEmpty: {
                        message: 'Name is required and cannot be empty'
                    }
                }
            },
            affiliation: {
                validators: {
                    notEmpty: {
                        message: 'Affiliation is required and cannot be empty'
                    }
                }
            },
            country: {
                validators: {
                    notEmpty: {
                        message: 'Country is required and cannot be empty'
                    }
                }
            },
            email: {
                validators: {
                    notEmpty: {
                        message: 'The email address is required'
                    },
                    emailAddress: {
                        message: 'The input is not a valid email address'
                    }
                }
            },
            phone: {
                validators: {
                    notEmpty: {
                        message: 'The phone number is required'
                    },
                    integer: {
                        message: 'The input is not a valid number'
                    }
                }
            },
            gender: {
                validators: {
                    notEmpty: {
                        message: 'The gender is required'
                    }
                }
            },
            'attendance-choice': {
                validators: {
                    notEmpty: {
                        message: 'Attendance choice is required.'
                    }
                }
            },
            'attendance-choice': {
                validators: {
                    notEmpty: {
                        message: 'Attendance choice is required.'
                    }
                }
            },
            'tutorials-choice': {
                validators: {
                    notEmpty: {
                        message: 'Tutorials choice is required.'
                    }
                }
            },
            'conference-date-choice': {
                validators: {
                    notEmpty: {
                        message: 'Conference dates of attendance are required.'
                    }
                }
            },
            food: {
                validators: {
                    notEmpty: {
                        message: 'Food Preference is required'
                    }
                }
            },
            participation: {
                validators: {
                    notEmpty: {
                        message: 'The Participation purpose is required'
                    }
                }
            },
            occupation: {
                validators: {
                    notEmpty: {
                        message: 'The Occupation is required'
                    }
                }
            },
            acmnum: {
                validators: {
                    notEmpty: {
                        message: 'The ACM number is required'
                    }
                }
            },
            registration_type: {
                validators: {
                    notEmpty: {
                        message: 'Payment Option is required'
                    }
                }
            },
            transid: {
                validators: {
                    notEmpty: {
                        message: 'You must pay and enter Transaction id here'
                    }
                }
            }
        }
    })
    .on('change', '[name="acm"]' ,function(e) {
        var topic      = 'acm';
        $container = $('[data-topic="' + topic + '"]');
        // $('#registrationForm').formValidation('enableFieldValidators', 'transid', false);
        if($('input[name=acm]:checked', '#registrationForm').val() == "true"){
            $('#registrationForm').bootstrapValidator('enableFieldValidators', 'acmnum', true);
            $container.show();
        }else{
            $('#registrationForm').bootstrapValidator('enableFieldValidators', 'acmnum', false);
            $container.hide();
        }
    })
    .on('change', '[name="accomodation"]' ,function(e) {
        if($('input[name=accomodation]:checked', '#registrationForm').val() == "true"){
            alert("Please note that checking 'yes' for accommodation does not guarantee that you will be provided with it.We will be notifying you in case we are able to arrange something.")
        }
    })
    .on('change', '[name="registration_type"]' ,function(e) {
        if($('input[name=registration_type]:checked', '#registrationForm').val() == "NEFT"){            
            var topic      = 'transaction_id'; 
            $container = $('[data-topic="' + topic + '"]') ; 
            $container.show();
            $('#registrationForm').bootstrapValidator('enableFieldValidators', 'registration_type', true);
        }else{
            var topic      = 'transaction_id'; 
            $container = $('[data-topic="' + topic + '"]') ; 
            $container.hide();
            $('#registrationForm').bootstrapValidator('enableFieldValidators', 'registration_type', false);
            alert("Please be informed that in this option, although you register now, On-Spot registration charges will apply since you will pay on spot.");
        }
    })
    .on('change', '[name="attendance-choice"]' ,function(e) {

        if($('input[name=attendance-choice]:checked', '#registrationForm').val() == "2" ){
            var topic      = 'conference-date-choice'; $container = $('[data-topic="' + topic + '"]') ; $container.hide();
            //var topic      = 'tutorials-choice'      ; $container = $('[data-topic="' + topic + '"]') ; $container.show();            
            //$('#registrationForm').bootstrapValidator('enableFieldValidators', 'tutorials-choice', true);
            $('#registrationForm').bootstrapValidator('enableFieldValidators', 'conference-date-choice', false);
            $container.show();
        }
        else if($('input[name=attendance-choice]:checked', '#registrationForm').val() == "1" ){            
            var topic      = 'conference-date-choice'; $container = $('[data-topic="' + topic + '"]') ; $container.show();
            var topic      = 'tutorials-choice'      ; $container = $('[data-topic="' + topic + '"]') ; $container.hide();

            $('#registrationForm').bootstrapValidator('enableFieldValidators', 'tutorials-choice', false);
            $('#registrationForm').bootstrapValidator('enableFieldValidators', 'conference-date-choice', true);

        }
        else if($('input[name=attendance-choice]:checked', '#registrationForm').val() == "3" ){
            var topic      = 'conference-date-choice'; $container = $('[data-topic="' + topic + '"]') ; $container.show();
            //var topic      = 'tutorials-choice'      ; $container = $('[data-topic="' + topic + '"]') ; $container.show();

            //$('#registrationForm').bootstrapValidator('enableFieldValidators', 'tutorials-choice', true);
            $('#registrationForm').bootstrapValidator('enableFieldValidators', 'conference-date-choice', true);
        }
    })
    // .on('change', '[name="t-shirt"]' ,function(e) {
    //     var topic      = 't-shirt-preference';
    //     $container = $('[data-topic="' + topic + '"]');
    //     if($('input[name=t-shirt]:checked', '#registrationForm').val() == "true"){            
    //         $container.show();
    //     }else{
    //         $container.hide();
    //     }
    // })
    .on('change', '[name="participation"]' ,function(e) {
        if($('input[name=participation]:checked', '#registrationForm').val() == "4"){
            var topic      = 'transaction_id';
            $container = $('[data-topic="' + topic + '"]');
            $('#registrationForm').bootstrapValidator('enableFieldValidators', 'transid', false);
            $container.hide();
            var topic      = 'registration_type';
            $container = $('[data-topic="' + topic + '"]');
            $('#registrationForm').bootstrapValidator('enableFieldValidators', 'registration_type', false);
            $container.hide();
        }else{
            var topic      = 'transaction_id';
            $container = $('[data-topic="' + topic + '"]');
            $container.show();
            $('#registrationForm').bootstrapValidator('enableFieldValidators', 'transid', true);
            var topic      = 'registration_type';
            $container = $('[data-topic="' + topic + '"]');
            $container.show();
            $('#registrationForm').bootstrapValidator('enableFieldValidators', 'registration_type', true);
        }
    });

});
</script>
