$title_color: #012A2F;
$theme_color: #078186;

.main-2017{

  .container-fluid{
    .row{
      .title-div{
        .title-first, .title-second, .title-third, .title-fourth{
          text-align: left !important;
        }
        .title-first{
          margin:35px 0px 0px;
        }
        .title-second{
          margin-top: 5px !important;
        }
      }
    }
  }
}
