$title_color: #012A2F;
$theme_color: #078186;

.main-2017{

  .container-fluid{
    .row{
      .title-div{
        .title-first, .title-second, .title-third, .title-fourth{
          text-align: left !important;
        }
        .title-first{
          margin:35px 0px 0px;
        }
        .title-second{
          margin-top: 5px !important;
        }
      }
    }
  }

  footer{
    .container{
      .logos{
        .footer-logo-1{
          .footer-1-div{
            color: black;
            .footer-1-line-1{
              font-size: 18px;
              font-weight: 600;
            }
            .footer-1-line-2 , .footer-1-line-3{
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

footer{
  .container{
    .logos{
      .footer-logo-1{
        .footer-1-div{
          padding: 20px 15px;
        }
      }
    }
  }
}
