// Place all the styles related to the Landings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$title_color_2016: #483300;
$theme_color_2016: #2D1504;
$title_color_2015: #421E05;
$theme_color_2015: #174E14;

$default_title_color: #012A2F;
$default_theme_color: #078186;

.main-2016{
  .theme_color{
    color:$theme_color_2016;
  }
  .background_theme_color{
    background-color: $theme_color_2016;
  }
  a:link, a:visited, a:hover, a:active {
    text-decoration: none !important;
    color:$theme_color_2016 ;
  }
  .container-fluid{
    .row{
      .title-div{
        .title-first, .title-second, .title-third, .title-fourth{
          text-align: center;
          color: $title_color_2016 !important;
        }
      }
    }
  }
}

.main-2015{
  .theme_color{
    color: $theme_color_2015;
  }
  .background_theme_color{
    background-color: $theme_color_2015;
  }
  a:link, a:visited, a:hover, a:active {
    text-decoration: none !important;
    color: $theme_color_2015 ;
  }
  .container-fluid{
    .row{
      .title-div{
        .title-first, .title-second, .title-third, .title-fourth{
          text-align: center;
          color: $title_color_2015 !important;
        }
      }
    }
  }
}


footer{
  .container{
    .logos{
      .footer-logo-1{
        .footer-1-div{
          padding: 20px 15px;
        }
      }
      .footer-logo-5{
        text-align: center;
        div{
          margin: 5px 0px 5px;
        }
      }
    }
  }
}

.fire-list, .proceedings-list{
  li{
    a{
      padding-left: 40px;

      .fa-arrow-right{
        margin-right: 10px;
      }
    }
  }
}

.archive-heading{
  position: relative;
  display: block;
  color: #FFF;
  padding: 10px 15px;
  font-size: 14px;
  .fa-archive{
    padding-right: 10px;
  }
}

//Default theme
.theme_color{
  color: $default_theme_color;
}
.background_theme_color{
  background-color: $default_theme_color;
}
a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: $default_theme_color ;
}
.container-fluid{
  .row{
    .title-div{
      .title-first, .title-second, .title-third, .title-fourth{
        text-align: center;
        color: $default_title_color !important;
      }
    }
  }
}
